.nobr {
  white-space:nowrap;
}

/* Images container */
.photo-block {
  width: 100%;
  text-align: center;
}

.photo-block .docs-container {
  display: inline-block;
  vertical-align: top;
}

.photo-block .docs-container,
.photo-block.single .docs-container {
  width: 100%;
}

.photo-block.double .docs-container {
  width: 48%;
}

.photo-block.triple .docs-container {
  width: 32%;
}

.docs-container {
}

.docs-container .imgs {
  width: 96%;
  margin-left: 2%;
  padding: 2em 0 0 0;
  text-align: center;
}

.docs-container .imgs img {
  display: inline-block;
  box-shadow: 0 0 5px 0 #353535;
  margin-bottom: 10px;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -kthtml-transition: all .4s ease-out;
  transition: all .4s ease-out;
  vertical-align: middle;
}

.docs-container .imgs img:hover {
  box-shadow: 0 0 10px 0 #353535;
}

.docs-container.no-shadow .imgs img {
  box-shadow: none !important;
}

.docs-container.far .imgs img {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.docs-container.closer .imgs img {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.docs-container.single .imgs img {
  max-width: 98%;
}

.docs-container.double .imgs img {
  max-width: 46%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container.triple .imgs img {
  max-width: 31%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container.four .imgs img {
  max-width: 22%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container.six .imgs img {
  max-width: 14%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container.seven .imgs img {
  max-width: 11%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container .desc {
  width: 80%;
  margin-left: 10%;
  padding: 0 0 2em 0;
}

.docs-container .desc p {
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: .8em;
}
/* !Images container */

/* No javascript support message */
#no-js-support {
  background-color: #fff;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  font-weight: normal;
}

#no-js-support h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#no-js-support p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}
/* !No javascript support message */

/* Browser support message */
#browser-is-not-supported {
  display: none;
  z-index: 2147483646;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 10px 0;
  background-color: #0D47A1;
}

#browser-is-not-supported,
#browser-is-not-supported a {
  color: #fff;
}


#browser-is-not-supported > p {
  font-family: sans-serif;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

#browser-is-not-supported > .close-message {
  padding-top: 10px;
}

#browser-is-not-supported > .close-message > span {
  cursor: pointer;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  font-weight: bold;
}
/* !Browser support message */