@font-face {
  font-family: 'Oranienbaum';
  src: url('../fonts/Oranienbaum.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Oranienbaum.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Oranienbaum.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Oranienbaum.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Oranienbaum.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Oranienbaum.svg#') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PT-Sans-Narrow';
  src: url('../fonts/PT-Sans-Narrow.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PT-Sans-Narrow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PT-Sans-Narrow.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PT-Sans-Narrow.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PT-Sans-Narrow.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PT-Sans-Narrow.svg#') format('svg'); /* Legacy iOS */
}