body {
  margin: 0;
  font-family: 'PT-Sans-Narrow', sans-serif;
}

html.no-cssvhunit #browser-is-not-supported,
html.no-textshadow #browser-is-not-supported,
html.no-cssanimations #browser-is-not-supported,
html.no-backgroundsize #browser-is-not-supported,
html.no-bgsizecover #browser-is-not-supported,
html.no-boxshadow #browser-is-not-supported,
html.no-csstransforms #browser-is-not-supported,
html.no-csstransitions #browser-is-not-supported,
html.no-fontface #browser-is-not-supported,
html.no-rgba #browser-is-not-supported {
  display: block;
}

#parts-list {
  display: none;
  position: fixed;
  bottom: 0;
  list-style-type: none;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0 0 15px 0;
  font-family: 'Oranienbaum', serif;
}

#parts-list li {
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0,0,0,.9);
  padding: 20px;
  margin: 0 10px;
  width: 20px;
  font-size: 20px;
  background-color: #656565;
  border-radius: 50%;
  border-color: #353535;
  border-width: 3px;
  border-style: solid;
  transition: all .6s ease-out;
}

#parts-list li a {
  color: #fff;
  text-decoration: none;
}

#parts-list li:hover {
  background-color: #353535;
}

#content {
  position: relative;
}

.container {
  background-color: #fff;
  width: 80%;
  padding: 3% 5%;
  margin: 5% auto;
  color: #353535;
  font-family: 'PT-Sans-Narrow', sans-serif;
  font-size: 3vh;
  font-weight: normal;
}

.container .header {
  font-family: 'Oranienbaum', serif;
  text-align: center;
  font-size: 8vh;
}

.container .header .number {
  font-weight: bold;
  font-size: 140%;
}

#part0-content,
#part1-content,
#part2-content,
#part3-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.4);
}

#part0-content {
  position: fixed;
  height: 100%;
}

#part0-content h1,
#part0-content h2 {
  text-align: center;
  font-weight: normal;
  font-family: 'Oranienbaum', serif;
  color: #fff;
}

#part0-content h1 {
  font-size: 8vh;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 0;
}

#part0-content h2 {
  font-size: 4vh;
  width: 50%;
  margin-left: 25%;
  margin-top: 0;
}

#part1-content .container {
  background-image: url('../img/part1-bg-content1.jpg');
  background-position: left 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#part2-content .container {
  background-image: url('../img/part2-bg-content1.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#part3-content .container {
  background-image: url('../img/part3-bg-content1.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

#main-menu {
  position: relative;
  color: #fff;
  width: 96%;
  margin: 0 0 0 2%;
  font-family: 'Oranienbaum', serif;
  height: 50%;
  text-align: center;
}

#main-menu .part-link {
  position: relative;
  display: inline-block;
  width: 30%;
  background-color: #353535;
  color: #fff;
  height: 100%;
  overflow: hidden;
  margin: 0 1%;
  padding: 0;
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,.7);
  transition: all .6s ease-out;
  text-align: center;
  background-size: cover;
}

#main-menu .part-link .part-link-container {
  position: relative;
  height: 100%;
  text-shadow: 2px 2px 4px rgba(0,0,0,.9);
  background-color: rgba(0,0,0,.3);
}

#main-menu .part-link.first {
  background-position: 50% 50%;
  background-image: url('../img/part0-bg-to-part1.jpg');
}

#main-menu .part-link.second {
  background-image: url('../img/part0-bg-to-part2.jpg');
  background-position: 50% 0;
}

#main-menu .part-link.third {
  background-position: 50% 50%;
  background-image: url('../img/part0-bg-to-part3.jpg');
}

#main-menu .part-link .link {
  opacity: 0;
  position: absolute;
  bottom: 6%;
  width: 100%;
  transition: all .6s ease-out;
}

#main-menu .part-link:hover .link {
  opacity: 1;
}

#main-menu .part-link .link a {
  color: #fff;
  padding: 2% 5%;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  background-color: #353535;
  transition: all .6s ease-out;
  font-size: 2vh;
}

#main-menu .part-link .link a:hover {
  background-color: #858585;
}

#main-menu .part-link:hover {
  cursor: pointer;
}

#main-menu .part-link.big {
  width: 60%;
}

#main-menu .part-link.small {
  width: 15%;
}

#main-menu .part-link .part-number {
  width: 50%;
  margin-left: 25%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 35px;
  border-bottom-style: solid;
  border-color: #fff;
  border-width: 1px;
  font-size: 8vh;
}

#main-menu .part-link .part-name {
  width: 80%;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.5vh;
  padding-top: 15px;
}

#part0-background,
#part1-background,
#part2-background,
#part3-background {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
  animation: partbgincrease 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#part0-background {
  background-image: url('../img/part0-bg.jpg');
}

#part1-background {
  background-image: url('../img/part1-bg.jpg');
}

#part2-background {
  background-image: url('../img/part2-bg.jpg');
}

#part3-background {
  background-image: url('../img/part3-bg.jpg');
}

@keyframes partbgincrease {
  0% {
    opacity: 0;
    transform: scale(1) rotate(0);
  }

  2% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.4) rotate(7deg);
  }
}