<div id="part0-background">&nbsp;</div>
<div id="part0-content">
  <h1>Ярославль&nbsp;&mdash; город большой химии</h1>
  <h2>К&nbsp;<span class="nobr">55-летию</span> пуска первой очереди НПЗ</h2>
  <div id="main-menu">
    <div class="part-link first">
      <div class="part-link-container">
        <p class="part-number">I</p>
        <p class="part-name">Введение</p>
        <p class="link"><a href="#page/1">Просмотр</a></p>
      </div>
    </div>
    <div class="part-link second">
      <div class="part-link-container">
        <p class="part-number">II</p>
        <p class="part-name">Ги&shy;гант не&shy;фте&shy;хи&shy;мии в&nbsp;строю</p>
        <p class="link"><a href="#page/2">Просмотр</a></p>
      </div>
    </div>
    <div class="part-link third">
      <div class="part-link-container">
        <p class="part-number">III</p>
        <p class="part-name">Все&shy;со&shy;юз&shy;ная удар&shy;ная ком&shy;со&shy;моль&shy;ская строй&shy;ка боль&shy;шой хи&shy;мии</p>
        <p class="link"><a href="#page/3">Просмотр</a></p>
      </div>
    </div>
  </div>
</div>

<script>
$('#main-menu .part-link').bind('mouseenter focus',
  function(e) {
    $('#main-menu .part-link').removeClass('big');
    $('#main-menu .part-link').removeClass('small');
    $(this).addClass('big');
    $('#main-menu .part-link:not(.big)').addClass('small');
  } 
);

$('#main-menu .part-link').bind('mouseleave',
  function(e) {
    $('#main-menu .part-link').removeClass('big');
    $('#main-menu .part-link').removeClass('small');
  }
);
</script>