<div id="part3-background">&nbsp;</div>
<div id="part3-content">
  <div class="container">
    <p class="header"><span class="number">III.</span> Все&shy;со&shy;юз&shy;ная удар&shy;ная ком&shy;со&shy;моль&shy;ская строй&shy;ка боль&shy;шой хи&shy;мии</p>
    <p>Решением XXIII съезда ВЛКСМ (<span class="nobr">15&mdash;18 апреля</span> 1958 года), а&nbsp;вслед за&nbsp;этим Постановлением II&nbsp;пленума Ярославского областного комитета ВЛКСМ (15&nbsp;мая 1958 года) строительство <span class="nobr">Ново-Ярославского</span> нефтеперерабатывающего завода было объявлено ударной <span class="nobr">комсомольско-молодежной</span> стройкой. Не&nbsp;одна сотня молодых людей по&nbsp;комсомольским путевкам отработала на&nbsp;строительстве ТЭЦ и&nbsp;самого завода.</p>
    <p>В&nbsp;июне 1959 года пленум Ярославского городского комитета ВЛКСМ утвердил городской комсомольский штаб для оказания помощи в&nbsp;ускорении строительства завода. Были организованы социалистическое соревнование между комсомольскими организациями управлений и&nbsp;отделов, работа рейдовых бригад и&nbsp;<span class="nobr">контрольно-комсомольских</span> постов на&nbsp;строительных объектах. С&nbsp;целью организации кольцевого контроля на&nbsp;предприятиях Ярославской области, поставлявших материалы для строительства НПЗ, были созданы контрольные посты комсомольцев. Кроме этого городским комсомольским штабом постоянно поддерживалась связь с&nbsp;большинством <span class="nobr">заводов-поставщиков</span> по&nbsp;стране. Всего на&nbsp;субботниках и&nbsp;воскресниках на&nbsp;строительстве первой очереди завода только за&nbsp;один квартал 1961 года комсомольцами было отработано около 320 тысяч <span class="nobr">человеко-дней</span>. Комсомольская организация треста &#8470;&nbsp;5 на&nbsp;моменте завершения строительства, чтобы сдать объект досрочно к&nbsp;XXII съезду КПСС, объявила переход на&nbsp;<span class="nobr">10-тичасовой</span> рабочий день и&nbsp;полностью отказалась от&nbsp;выходных. В&nbsp;1961 году по&nbsp;итогам всесоюзного соревнования ударных строек нефтехимии ярославской комсомольской организации треста &#8470;&nbsp;5 было присуждено второе место. А&nbsp;в&nbsp;октябре 1961 года по&nbsp;итогам сдачи первой очереди завода переходящее знамя Ярославского городского комитета комсомола также было передано секретарю комитета ВЛКСМ треста &#8470;&nbsp;5 В. Шустрову.</p>
    <p>Не&nbsp;осталась в&nbsp;стороне и&nbsp;газета &laquo;Юность&raquo;&nbsp;&mdash; орган Ярославского областного комитета ВЛКСМ. Ее&nbsp;главной задачей было информационное обеспечение строительства, привлечение общественного внимания к&nbsp;оперативному решению возникавших при строительстве проблем. Журналисты пристально следили за&nbsp;ходом работ на&nbsp;стройке, публикуя как разгромные статьи по&nbsp;результатам комсомольских проверок, так и&nbsp;заметки о&nbsp;передовиках производства. За&nbsp;34 дня до&nbsp;пуска первой очереди нефтеперерабатывающего завода на&nbsp;страницах газеты была открыта рубрика &laquo;Календарь &bdquo;Юности&ldquo; на&nbsp;НПЗ&raquo;, в&nbsp;рамках которой ежедневно публиковались отчеты о&nbsp;ходе строительства.</p>
    <p>Немалая работа была проделана комсомольскими организациями по&nbsp;культурному обслуживанию строителей. На&nbsp;строительных площадках проводились концерты силами коллективов художественной самодеятельности города, а&nbsp;также лекции и&nbsp;беседы в&nbsp;общежитиях треста &#8470;&nbsp;5.</p>
    <p>За&nbsp;четыре года шефства над строительством завода городская и&nbsp;областная комсомольские организации проделали огромную работу, внеся свой неоценимый вклад в&nbsp;подготовку досрочного пуска первой очереди НПЗ.</p>

    <div class="photo-block single">
      <div class="docs-container single">
        <div class="imgs">
          <a class="highslide" href="img/docs/37.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/37.jpg"></a> <span class="highslide-caption"> Комсомольцы на&nbsp;строительстве первой очереди НПЗ. ЦДНИ ГАЯО. Ф. 7302, оп. 2, д. 114, л. 3. <br /> (<a href="img/docs/37.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Комсомольцы на&nbsp;строительстве первой очереди НПЗ. ЦДНИ ГАЯО. Ф. 7302, оп. 2, д. 114, л. 3.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container double">
        <div class="imgs">
          <a class="highslide" href="img/docs/38.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/38.jpg"></a> <span class="highslide-caption"> Из&nbsp;Постановления II&nbsp;пленума Ярославского областного комитета ВЛКСМ от&nbsp;15&nbsp;мая 1958 года &laquo;Об&nbsp;итогах работы XXIII съезда ВЛКСМ и&nbsp;задачах областной комсомольской организации&raquo;, в&nbsp;числе прочего объявляющего строительство НПЗ ударной комсомольской стройкой. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1140, л. 82&ndash;83. <br /> (<a href="img/docs/38.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/39.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/39.jpg"></a> <span class="highslide-caption"> Из&nbsp;Постановления II&nbsp;пленума Ярославского областного комитета ВЛКСМ от&nbsp;15&nbsp;мая 1958 года &laquo;Об&nbsp;итогах работы XXIII съезда ВЛКСМ и&nbsp;задачах областной комсомольской организации&raquo;, в&nbsp;числе прочего объявляющего строительство НПЗ ударной комсомольской стройкой. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1140, л. 82&ndash;83. <br /> (<a href="img/docs/39.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Из&nbsp;Постановления II&nbsp;пленума Ярославского областного комитета ВЛКСМ от&nbsp;15&nbsp;мая 1958 года &laquo;Об&nbsp;итогах работы XXIII съезда ВЛКСМ и&nbsp;задачах областной комсомольской организации&raquo;, в&nbsp;числе прочего объявляющего строительство НПЗ ударной комсомольской стройкой. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1140, л. 82&ndash;83.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container triple">
        <div class="imgs">
          <a class="highslide" href="img/docs/40.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/40.jpg"></a> <span class="highslide-caption"> Постановление VII пленума Ярославского городского комитета ВЛКСМ от&nbsp;19 июня 1959 года &laquo;Об&nbsp;усилении шефства городской комсомольской организации над строительством Ново-Ярославского нефтеперерабатывающего завода&raquo;. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 15, л. 38&ndash;40. <br /> (<a href="img/docs/40.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/41.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/41.jpg"></a> <span class="highslide-caption"> Постановление VII пленума Ярославского городского комитета ВЛКСМ от&nbsp;19 июня 1959 года &laquo;Об&nbsp;усилении шефства городской комсомольской организации над строительством Ново-Ярославского нефтеперерабатывающего завода&raquo;. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 15, л. 38&ndash;40. <br /> (<a href="img/docs/41.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/42.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/42.jpg"></a> <span class="highslide-caption"> Постановление VII пленума Ярославского городского комитета ВЛКСМ от&nbsp;19 июня 1959 года &laquo;Об&nbsp;усилении шефства городской комсомольской организации над строительством Ново-Ярославского нефтеперерабатывающего завода&raquo;. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 15, л. 38&ndash;40. <br /> (<a href="img/docs/42.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Постановление VII пленума Ярославского городского комитета ВЛКСМ от&nbsp;19 июня 1959 года &laquo;Об&nbsp;усилении шефства городской комсомольской организации над строительством Ново-Ярославского нефтеперерабатывающего завода&raquo;. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 15, л. 38&ndash;40.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container triple">
        <div class="imgs">
          <a class="highslide" href="img/docs/43.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/43.jpg"></a> <span class="highslide-caption"> Из&nbsp;Протокола &#8470;&nbsp;11 заседания бюро Ярославского областного комитета ВЛКСМ от&nbsp;19 августа 1960 года &laquo;О&nbsp;шефстве городской комсомольской организации над строительством Ново-Ярославского нефтеперерабатывающего завода&raquo;. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1181, л. 226&ndash;228. <br /> (<a href="img/docs/43.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/44.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/44.jpg"></a> <span class="highslide-caption"> Из&nbsp;Протокола &#8470;&nbsp;11 заседания бюро Ярославского областного комитета ВЛКСМ от&nbsp;19 августа 1960 года &laquo;О&nbsp;шефстве городской комсомольской организации над строительством Ново-Ярославского нефтеперерабатывающего завода&raquo;. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1181, л. 226&ndash;228. <br /> (<a href="img/docs/44.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/45.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/45.jpg"></a> <span class="highslide-caption"> Из&nbsp;Протокола &#8470;&nbsp;11 заседания бюро Ярославского областного комитета ВЛКСМ от&nbsp;19 августа 1960 года &laquo;О&nbsp;шефстве городской комсомольской организации над строительством Ново-Ярославского нефтеперерабатывающего завода&raquo;. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1181, л. 226&ndash;228. <br /> (<a href="img/docs/45.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Из&nbsp;Протокола &#8470;&nbsp;11 заседания бюро Ярославского областного комитета ВЛКСМ от&nbsp;19 августа 1960 года &laquo;О&nbsp;шефстве городской комсомольской организации над строительством Ново-Ярославского нефтеперерабатывающего завода&raquo;. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1181, л. 226&ndash;228.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container single">
        <div class="imgs">
          <a class="highslide" href="img/docs/46.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/46.jpg"></a> <span class="highslide-caption"> Комплексная бригада СУ-2. На&nbsp;строительстве НПЗ. ЦДНИ ГАЯО. Ф. 7302, оп. 2, д. 114, л. 13. <br /> (<a href="img/docs/46.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Комплексная бригада СУ-2. На&nbsp;строительстве НПЗ. ЦДНИ ГАЯО. Ф. 7302, оп. 2, д. 114, л. 13.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container single">
        <div class="imgs">
          <a class="highslide" href="img/docs/47.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/47.jpg"></a> <span class="highslide-caption"> Молодая электросварщица на&nbsp;строительстве НПЗ. ЦДНИ ГАЯО. Ф. 7302, оп. 2, д. 114, л. 14. <br /> (<a href="img/docs/47.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Молодая электросварщица на&nbsp;строительстве НПЗ. ЦДНИ ГАЯО. Ф. 7302, оп. 2, д. 114, л. 14.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container single">
        <div class="imgs">
          <a class="highslide" href="img/docs/48.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/48.jpg"></a> <span class="highslide-caption"> Статья &laquo;Мы&nbsp;строим&raquo; о&nbsp;молодых строителях Ярославского нефтеперерабатывающего завода. Газета &laquo;Юность&raquo;, &#8470;&nbsp;52, 1&nbsp;мая, 1959 год. <br /> (<a href="img/docs/48.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Статья &laquo;Мы&nbsp;строим&raquo; о&nbsp;молодых строителях Ярославского нефтеперерабатывающего завода. Газета &laquo;Юность&raquo;, &#8470;&nbsp;52, 1&nbsp;мая, 1959 год.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container double">
        <div class="imgs">
          <a class="highslide" href="img/docs/49.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/49.jpg"></a> <span class="highslide-caption"> Сигналы штаба комсомольской стройки при Ярославском ГК&nbsp;ВЛКСМ на&nbsp;строительстве Ново-Ярославского нефтеперерабатывающего завода. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 26а, л. 1&ndash;2. <br /> (<a href="img/docs/49.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/50.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/50.jpg"></a> <span class="highslide-caption"> Сигналы штаба комсомольской стройки при Ярославском ГК&nbsp;ВЛКСМ на&nbsp;строительстве Ново-Ярославского нефтеперерабатывающего завода. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 26а, л. 1&ndash;2. <br /> (<a href="img/docs/50.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Сигналы штаба комсомольской стройки при Ярославском ГК&nbsp;ВЛКСМ на&nbsp;строительстве Ново-Ярославского нефтеперерабатывающего завода. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 26а, л. 1&ndash;2.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container triple">
        <div class="imgs">
          <a class="highslide" href="img/docs/51.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/51.jpg"></a> <span class="highslide-caption"> Из&nbsp;рубрики &laquo;Календарь &bdquo;Юности&ldquo; на&nbsp;НПЗ&raquo;. Газета Юность, &#8470;&nbsp;109, 12 сентября; &#8470;&nbsp;112, 19 сентября; &#8470;&nbsp;114, 23 сентября, 1961 год. <br /> (<a href="img/docs/51.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/52.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/52.jpg"></a> <span class="highslide-caption"> Из&nbsp;рубрики &laquo;Календарь &bdquo;Юности&ldquo; на&nbsp;НПЗ&raquo;. Газета Юность, &#8470;&nbsp;109, 12 сентября; &#8470;&nbsp;112, 19 сентября; &#8470;&nbsp;114, 23 сентября, 1961 год. <br /> (<a href="img/docs/52.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/53.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/53.jpg"></a> <span class="highslide-caption"> Из&nbsp;рубрики &laquo;Календарь &bdquo;Юности&ldquo; на&nbsp;НПЗ&raquo;. Газета Юность, &#8470;&nbsp;109, 12 сентября; &#8470;&nbsp;112, 19 сентября; &#8470;&nbsp;114, 23 сентября, 1961 год. <br /> (<a href="img/docs/53.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Из&nbsp;рубрики &laquo;Календарь &bdquo;Юности&ldquo; на&nbsp;НПЗ&raquo;. Газета Юность, &#8470;&nbsp;109, 12 сентября; &#8470;&nbsp;112, 19 сентября; &#8470;&nbsp;114, 23 сентября, 1961 год.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container double">
        <div class="imgs">
          <a class="highslide" href="img/docs/54.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/54.jpg"></a> <span class="highslide-caption"> Из&nbsp;выступления тов. Смирнова (начальника комсомольского штаба НПЗ) о&nbsp;пуске первой технологической линии НПЗ на&nbsp;9-м пленуме Ярославского областного комитета ВЛКСМ 29 ноября 1961 года. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1198, л. 10&ndash;11. <br /> (<a href="img/docs/54.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/55.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/55.jpg"></a> <span class="highslide-caption"> Из&nbsp;выступления тов. Смирнова (начальника комсомольского штаба НПЗ) о&nbsp;пуске первой технологической линии НПЗ на&nbsp;9-м пленуме Ярославского областного комитета ВЛКСМ 29 ноября 1961 года. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1198, л. 10&ndash;11. <br /> (<a href="img/docs/55.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Из&nbsp;выступления тов. Смирнова (начальника комсомольского штаба НПЗ) о&nbsp;пуске первой технологической линии НПЗ на&nbsp;9-м пленуме Ярославского областного комитета ВЛКСМ 29 ноября 1961 года. ЦДНИ ГАЯО. Ф. 594, оп. 33, д. 1198, л. 10&ndash;11.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container double">
        <div class="imgs">
          <a class="highslide" href="img/docs/56.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/56.jpg"></a> <span class="highslide-caption"> Из&nbsp;выступления тов. Шустрова (секретаря комитета ВЛКСМ треста &#8470;&nbsp;5)об&nbsp;окончании строительства первой очереди НПЗ на&nbsp;XX&nbsp;Ярославской городской комсомольской конференции 23 декабря 1961 года. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 23, л. 72&ndash;73. <br /> (<a href="img/docs/56.jpg" target="_blank">Открыть оригинал</a>) </span>
          <a class="highslide" href="img/docs/57.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/57.jpg"></a> <span class="highslide-caption"> Из&nbsp;выступления тов. Шустрова (секретаря комитета ВЛКСМ треста &#8470;&nbsp;5)об&nbsp;окончании строительства первой очереди НПЗ на&nbsp;XX&nbsp;Ярославской городской комсомольской конференции 23 декабря 1961 года. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 23, л. 72&ndash;73. <br /> (<a href="img/docs/57.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Из&nbsp;выступления тов. Шустрова (секретаря комитета ВЛКСМ треста &#8470;&nbsp;5)об&nbsp;окончании строительства первой очереди НПЗ на&nbsp;XX&nbsp;Ярославской городской комсомольской конференции 23 декабря 1961 года. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 23, л. 72&ndash;73.</p>
        </div>
      </div>
    </div>

    <div class="photo-block double">
      <div class="docs-container single">
        <div class="imgs">
          <a class="highslide" href="img/docs/58.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/58.jpg"></a> <span class="highslide-caption"> На&nbsp;строительстве первой очереди НПЗ. Пропагандист проводит беседу в&nbsp;бригаде молодых работников. ЦДНИ ГАЯО. Ф. 7302, оп. 2, д. 114, л. 17. <br /> (<a href="img/docs/58.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>На&nbsp;строительстве первой очереди НПЗ. Пропагандист проводит беседу в&nbsp;бригаде молодых работников. ЦДНИ ГАЯО. Ф. 7302, оп. 2, д. 114, л. 17.</p>
        </div>
      </div>
      <div class="docs-container single">
        <div class="imgs">
          <a class="highslide" href="img/docs/59.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/59.jpg"></a> <span class="highslide-caption"> Молодой нефтестроевец. 1961 год. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 26, а, л. 4. <br /> (<a href="img/docs/59.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Молодой нефтестроевец. 1961 год. ЦДНИ ГАЯО. Ф. 565, оп. 14, д. 26, а, л. 4.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container single">
        <div class="imgs">
          <a class="highslide" href="img/docs/60.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/60.jpg"></a> <span class="highslide-caption"> Разворот газеты &laquo;Юность&raquo;, посвященный пуску первой очереди НПЗ. Газета Юность, &#8470;&nbsp;128, 24 октября, 1961&nbsp;г. <br /> (<a href="img/docs/60.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Разворот газеты &laquo;Юность&raquo;, посвященный пуску первой очереди НПЗ. Газета Юность, &#8470;&nbsp;128, 24 октября, 1961&nbsp;г.</p>
        </div>
      </div>
    </div>

    <div class="photo-block single">
      <div class="docs-container single">
        <div class="imgs">
          <a class="highslide" href="img/docs/61.jpg" onclick="return hs.expand(this)"><img alt="" src="img/docs/thumbs/61.jpg"></a> <span class="highslide-caption"> Статья &laquo;Слово берут нефтестроевцы&raquo;. Газета Юность, &#8470;&nbsp;140, 23 ноября, 1961&nbsp;г. <br /> (<a href="img/docs/61.jpg" target="_blank">Открыть оригинал</a>) </span>
        </div>
        <div class="desc">
          <p>Статья &laquo;Слово берут нефтестроевцы&raquo;. Газета Юность, &#8470;&nbsp;140, 23 ноября, 1961&nbsp;г.</p>
        </div>
      </div>
    </div>

  </div>
</div>